.carts {
    width: 100%;
    height: 90%;
    box-shadow: 1.1px 4.39px 27.46px 0px #00000026;
    background: white;
    position: relative;
}

.cart {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    padding: 20px;
    margin-bottom: 20px; 
}

.cart p {
    /* height: 35px; */
    width: 300px;
    font-family: Montserrat-Medium;
    font-size: 20.56px;
    font-weight: 500;
    line-height: 26.82px;
    text-align: center;
    color: black;
}

.cart span {
    font-family: Montserrat;
    font-size: 23.56px;
    font-weight: 400;
    line-height: 25.82px;
    text-align: center;
    color: #1e1e1e;
    position: relative;
    opacity: 0px;
}

.btn {
    height: 55.36px;
    width: 100%;
    padding: 8.18px;
    opacity: 0px;
    background: #dcb780;
    cursor: pointer;
    font-family: Poppins;
    font-size: 21.52px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    position: relative;
    border: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.cart img {
    height: 246px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.carts:hover {
    transform: scale(1.02);
}