.Home_body{

    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 100px;
    background: #FFFCFC;

  
   
}
.Home-left img {
    width: 667.89px;
    height: 781.03px;
    top: 88.31px;
    left: 686.36px;
    gap: 0px;
    opacity: 0px;


}
.Home-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}
.Home-right h1{ 
    width: 465px;
    height: 149px;
    gap: 0px;
    border: 3.14px 0px 0px 0px;
    opacity: 0px;
    font-family: Literata;
    font-size: 100px;
    font-weight: 1000;
    line-height: 118.5px;
    text-align: left;
    font-family: Literata-Regular;
    letter-spacing: 2px;

}
.Home-right p {
    font-family: Montserrat;
    font-size: 22.34px;
    font-weight: 400;
    line-height: 27.23px;
    text-align: justified;
    color: #555555;
    width: 566px;
    height: 108px;
    gap: 0px;
    opacity: 0px;
    left: 60px;
    position: relative;
    top: 30px;
}
.Home-right button {
   
    
    background: #DCB780;
    font-family: Montserrat;
    font-size: 23.07px;
    font-weight: 500;
    line-height: 28.12px;
    text-align: left;
    width:  175.76px;
    height:74.7px;
    gap: 10.98px;
    opacity: 0px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    top: 70%;
    left: 60%;
    transform: translate(-50%,-50%);
    position: absolute;
    cursor: pointer;

}