.Register_body {
  display: flex;
  background: #fffcfc;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  height: 100vh;
}

.container {
  width: 80%;
  height: 80%;
  background: #d9d1c5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inputs-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  font-family: Literata-Regular;
  margin-bottom: 20px;
}

.email-box,
.pswd-box,
.username-box {
  width: 310px;
  background-color: #deae68;
  opacity: 50%;
  padding: 15px ;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.email-input,
.pswd-input {
  background-color: transparent;
  width: 100%;
  font-size: 15px;
  color: black;
  border: none;
  padding-left: 8px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.input-icon1,
.input-icon2 {
  position: relative;
  right: 10px;
  padding-left: 10px;
}

button {
  width: 140px;
  height: 45px;
  font-size: 18px;
  background-color: #dcb780;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 30px;

}

span {
  font-size: 60px;
  font-weight: 500;
  font-family: Montserrat-Medium;
  margin: 30px;
}