.product-info-container {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.product-title {
    font-size: 30px;
    text-align: center;
    font-family: Montserrat-Medium;
    line-height: 34.82px;
    font-weight: 500;
}

.product-price {
    font-family: Montserrat;
    font-weight: 400;
    line-height: 34.82px;
    font-size: 25px;
    text-align: center;
    color: #555555;
}

.product-description {
    font-family: Montserrat-Medium;
    line-height: 30px;
    font-size: 17px;
    font-weight: 300px;
    text-align: center;
    margin-bottom: 30px;
}

.add-to-cart-btn {
    padding: 10px 20px;
    margin-top: 30px;
    background-color: #DCB780;
    font-family: Montserrat-Medium;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    width: 150px; /* Fixed width to make the button smaller */
    text-align: center;
    margin: 20px auto; /* Center the button horizontally */
    display: block;
}

.add-to-cart-btn:hover {
    background-color: #cfa760;
}
