.allproducts {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    /* height: 100vh; */
    background: #fffcfc;
    position: relative;
    bottom: 80px;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h5 {
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25.56px;
    font-weight: 300;
    line-height: 42.84px;
    text-align: center;
    color: #747474;
    position: relative;
}

.allproducts h6 {
    height: 34px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 18.25px;
    font-weight: 800;
    line-height: 34.44px;
    text-align: center;
    color: #a26c1c;
    position: relative;
    right: 37%;
}

h3 {
    /* height: 64px; */
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 48.3px;
    font-weight: 300;
    line-height: 63.75px;
    text-align: center;
    color: #000000;
    position: relative;
    bottom: 30px;
}